<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>

      <br /><br />

      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            *ngFor="let num of oddNumbers"
            class="list-group-item"
            [ngClass]="{ odd: num % 2 !== 0 }"
            [ngStyle]="{ backgroundColor: num % 2 !== 0 ? '#eee' : '#fff' }">
            {{ num }}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
        <li
          *ngFor="let num of evenNumbers"
          class="list-group-item"
          [ngClass]="{ even: num % 2 === 0 }">
          {{ num }}
        </li>
      </div> -->
        <!-- <ng-template [ngIf]="!onlyOdd">
        <div>
          <li
            *ngFor=" let num of evenNumbers"
            class="list-group-item"
            [ngClass]="{ even: num % 2 === 0 }">
            {{ num }}
          </li>
        </div>
      </ng-template> -->
        <div *unless="onlyOdd">
          <li
            *ngFor="let num of evenNumbers"
            class="list-group-item"
            [ngClass]="{ even: num % 2 === 0 }">
            {{ num }}
          </li>
        </div>
      </ul>

      <p appBasicHighlight>Style me with the basic-highlight</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">
        Style me with the
        better-highlight</p>

      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>

      <div [ngSwitch]="value">
        <div *ngSwitchCase="10">Output 10</div>
        <div *ngSwitchCase="20">Output 20</div>
        <div *ngSwitchDefault>Output default</div>
      </div>
    </div>
  </div>
</div>
